@import '_libs/css/bootstrap.min.css';

body {
  height: 800px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background-color: rgb(88, 107, 116);
}

.board {
  height: 700px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".A8.B8.C8.1D.1E.1F.1G. ."
    ".A7.B7.C7. . . . . ."
    ".A6.B6.C6. . . . . ."
    ".A5B5C5D5. . . . ."
    ".A4.B4.C4.D4. . . . ."
    ".A3.B3.C3.D3. . . . ."
    ".A2.B2.C2.D2. . . . ."
    ".A1.B1.C1.D1.E1.F1.G1.H1.";
  background-color: rgb(88, 107, 116);
  z-index: 1;
}

.board1 {
  position: relative;
  top: -700px;
  height: 700px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".A8.B8.C8.1D.1E.1F.1G. ."
    ".A7.B7.C7. . . . . ."
    ".A6.B6.C6. . . . . ."
    ".A5B5C5D5. . . . ."
    ".A4.B4.C4.D4. . . . ."
    ".A3.B3.C3.D3. . . . ."
    ".A2.B2.C2.D2. . . . ."
    ".A1.B1.C1.D1.E1.F1.G1.H1.";
  z-index: 2;
}

.Piece {
  position: relative;
  top: -700px;
  font-size: 50px;
  text-align: center;
  z-index: 2;
  font-family: 'Segoe UI Symbol', 'Noto Sans Symbols', 'Segoe UI Symbol', sans-serif;
}

.square {
  background-color: rgb(187, 187, 43);
  position: relative;
  z-index: 2;
}

.Square-White {
  background-color: rgb(204, 203, 201);
  position: relative;
  z-index: 2;
}

.Square-Black {
  background-color: rgb(155, 154, 153);
  position: relative;
  z-index: 2;
}

.squaretest {
  background-color: beige;
  grid-column-start: 1;
  grid-row-start: 8;
  z-index: 4;
}

.bg-x {
  background-color: rgb(216, 217, 199);
}


.bg-y {
  background-color: rgb(63, 62, 62);
}